
header {
    background-color: #59151c ;
   
  }
  .box{
width: 940px;
position: relative;
margin: 0 auto;


  }
  nav {
    position: absolute;
    top: 110px;
    right: 0;
}
  nav li {
    display: inline;
    margin: 0 0 0 60px;
}
  #logo {width: 200px;}
  nav a { text-decoration: none;
  font-weight: bold;
font-size: 22;
text-transform: uppercase;
color: aliceblue;}
nav a:hover {
  color: #f0aeb5;
  text-decoration: underline;
}section{
  width: 940px;
  margin: 0 auto;
  border: 3px solid #59151c;
  border-top: none;
  border-left: none;
  border-right: none;
  
 
 
}

.titulo{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 50px 0;
  font-weight: bold;
  font-size: 30px;
}
.produto{
  margin-left: 100px;
}


.produto li{
  display: inline-block;
  text-align: center;
  width: 40%;
  vertical-align: top;
  padding: 20px 30px;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;;
}
.produto li:hover {
  color: crimson;
  border-color: crimson;
}
.produto li:active {
  border-color: deeppink;
  background-color: #f0aeb5;
}
.produto li:hover h2{
  font-size: 35px;
}


.produtoft{
  width: 250px;
}
li h2 {
font-size: 30px;
font-weight: bold;

}
.produto-descriçao{
  font-size: 18px;
}
.produto-preço{
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}
#body {
 width: 940px;

}#tamanho-carrossel {
  width: 800px;
  margin: 0 auto;
}

/* carrosel infinito*/ 
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 500px;
 
  margin: auto;
 
  
  
}
 div {
  margin-bottom: 20px;
 }

.whatsapp-link {
  position: fixed;
 
  bottom: 60px;
  right: 350px;
  background-color: #2ca41c;
  
  border-radius: 60px;
  
  

}
.whatsapp-link:hover::after{
  content:"Peça Aqui!";
  
  font-size: 20px;
  font-weight: bolder;
color: aliceblue;

  font-family: 'Tiro Tamil', serif;
  text-decoration: none;
  padding: 5px 10px;
}

.ft {
  width: 60px;
  
}
footer {
  height: 100px;
  background-color: #8c3b3c;
  padding-top: 20px ;


 margin-bottom: 0px;
}
.footer {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  float: right;
  color: aliceblue;
  
  
}